@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cutive+Mono&family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
}
html{

}
body{
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
}
h1, h2{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 0 20px;
}
ul{
    list-style-type: none;
}
ul a{
    color: blue;
}
a{
    text-decoration: none;
}
a h1{
    color: black;
}
.no{
    display: flex;
    justify-content: center;
}
.no img{
    width: 100px;
}
#ad{
    color: red;
}
#finger1{
    position: absolute;
    width: 200px;
    top: 25px;
    left: 130px;
}
#finger2{
    position: absolute;
    width: 200px;
    top: 50px;
    right: 150px;
}
#decree{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#flo{
    margin-bottom: 30px;
    justify-content: center;
}
#flono{
    font-size: 50px;
}
.flotext{
    font-size: 30px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}